/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
  @extend %inline-block;
  @extend %align-middle;
  font: inherit;
  @extend %text-center;
  margin: 0;
  @extend %cursor-pointer;
  padding: 0.5rem 1rem;
  transition: $global-transition;
  border-radius: $global-radius;
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-link;

  &,
  &:hover,
  &:active,
  &:focus {
    @extend %no-underline;
    color: $color-white;
  }

  &:hover,
  &:focus {
    background-color: $color-hover;
  }
}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 0.25rem 0.5rem;
}

.c-btn--large {
  padding: 0.75rem 1.5rem;
}
