/* ==========================================================================
   #HELPERS
   ========================================================================== */

%appearance-none {
  appearance: none;
}

%cursor-auto {
  cursor: auto;
}
%cursor-default {
  cursor: default;
}
%cursor-pointer {
  cursor: pointer;
}
%cursor-wait {
  cursor: wait;
}
%cursor-text {
  cursor: text;
}
%cursor-move {
  cursor: move;
}
%cursor-not-allowed {
  cursor: not-allowed;
}

%outline-none {
  outline: 0;
}

%pointer-events-none {
  pointer-events: none;
}
%pointer-events-auto {
  pointer-events: auto;
}

%select-none {
  user-select: none;
}
%select-text {
  user-select: text;
}
%select-all {
  user-select: all;
}
%select-auto {
  user-select: auto;
}
%border-box {
  box-sizing: border-box;
}
%content-box {
  box-sizing: content-box;
}
%padding-box {
  box-sizing: padding-box;
}
