/* ==========================================================================
   #IMAGES
   ========================================================================== */


img {
  font-style: italic; /* [2] */
  max-width: 100%; /* [1] */
  vertical-align: middle; /* [3] */
}

img[width],
img[height] {
  max-width: none;
}
