/* ==========================================================================
   #LISTS
   ========================================================================== */

li {
  margin-bottom: 0.5rem;

  > ul,
  > ol {
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

dt {
  @extend %font-bold;
}

dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
