/* ==========================================================================
   #MEDIA
   ========================================================================== */


.o-media {
  @extend %block;
  @include clearfix();
}

.o-media__img {
  margin-right: 1rem;

  @extend %float-left;

  > img {
    @extend %block;
  }
}

.o-media__body {
  @extend %block;
  @extend %overflow-hidden;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

.o-media--reverse {
  > .o-media__img {
    margin-right: 0;
    margin-left: 1rem;

    @extend %float-right;
  }
}

.o-media--flush {
  > .o-media__img {
    margin-right: 0;
    margin-left: 0;
  }
}
