/* ==========================================================================
   #MEDIA
   ========================================================================== */


.o-media {
  display: block;

  @include clearfix();
}

.o-media__img {
  float: left;

  margin-right: 1rem;

  > img {
    display: block;
  }
}

.o-media__body {
  display: block;
  overflow: hidden;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

.o-media--reverse {
  > .o-media__img {
    float: right;

    margin-right: 0;
    margin-left: 1rem;
  }
}

.o-media--flush {
  > .o-media__img {
    margin-right: 0;
    margin-left: 0;
  }
}
