/* ==========================================================================
   #WRAPPER
   ========================================================================== */


.o-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  @include clearfix();
}
